<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SiriHomeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SiriHomeKitUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>firstHomekit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>siriHK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>siriHKUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>siriJa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>siriJaUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>110E2ED01DB48D0400A4DF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>110E2EE91DB48D0400A4DF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>110E2EF41DB48D0400A4DF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1187A5DE1DC7088300ADF5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1187A5E81DC7088300ADF5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1187A6041DC708E100ADF5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1187A60E1DC708E100ADF5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>118B89B61E000A0000C4621F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>118B89C01E000A0000C4621F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
